:root {
    --background-color: rgb(216, 127, 141);
}

* {
    margin: 0;
}

*::selection {
    background-color: violet;
    color: aquamarine;
}

body {
    background-image: url(../img/Những\ lợi\ thế\ khiến\ bạn\ không\ thể\ bỏ\ qua\ quảng\ cáo\ wifi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.header {
    position: absolute;
    top: 0;
    z-index: 1;
}

main {
    width: 100%;
    position: absolute;
    justify-content: center;
    display: flex;

}
.logo img {
    width: 375px;
    height: 100px;
    object-fit: cover ;
}
header .navbar {

    padding: 0 80px ;
}

.login_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    /* text-align: center; */
    z-index: 2;
    width: 600px;
}

.login_container_child {
    --width: 100%;
    background: #fff;
    border-radius: 25px;
    max-width: calc(100vw - 32px);
    min-height: 640px;
    padding: 48px 20px;
    position: relative;
    width: var(--width);
}

form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 710px;

}
.login_header h1{
     font-size: 100px;
     margin-bottom: 20px;
     text-align: center;
     padding-right: 40px;
     font-family: cursive;
     color: rgb(197, 99, 201);
}
.input {
    font-size: 25px;
    line-height: 50px;
    padding-left: 60px;
}
.box-input {
    font-size: 20px;
    width: 450px;
    height: 40px;
    border-radius: 8px;
}
.input-rf {
    display: flex;
    font-size: 20px;
    line-height: 50px;
    padding-left: 60px;
    justify-content:space-between;
    padding-right: 60px;
    color: rgb(102, 100, 100);
}
.button-login button{
    width: 300px;
    height: 36px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 25px;
    font-family: cursive;
}
.button-login button:hover {
    cursor: pointer;
    background-color: var(--background-color);
    color: #fff;
    transition-duration: 400ms;
    transition: ease-in-out;
    transform: translateY(-4px);
}
.link {
    display: flex;
    justify-content: center;
}
.link-fb a{
    background: #3B5998;
    color: white;
    padding: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 5px 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.input-create {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}